<p style="color: green"><%= notice %></p>

<% content_for :title, "Stores" %>

<h1>Stores</h1>

<div id="stores">
  <% @stores.each do |store| %>
    <div class="border p-2 mb-2 rounded">
      <h3 class="text-lg font-bold"><%= store.store_name %></h3>
      <p><%= store.address %></p>
      <%= link_to "店舗の詳細を見る", store_path(store), class: "text-blue-600 underline" %>
    </div>
  <% end %>
</div>
